:root {
  --separator-border: rgba(128, 128, 128, 0.35);
}

.splitView {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.splitView > .sashContainer {
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.splitView > .sashContainer > .sash {
  pointer-events: auto;
}

.splitView > .splitViewContainer {
  height: 100%;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.splitView > .splitViewContainer > .splitViewView {
  overflow: hidden;
  position: absolute;
  white-space: initial;
}

.splitView > .splitViewContainer > .splitViewView:not(.visible) {
  display: none;
}

.splitView.vertical > .splitViewContainer > .splitViewView {
  width: 100%;
}

.splitView.vertical.gap
  > .splitViewContainer
  > .splitViewView:not(:first-child) {
  padding-top: var(--gap-size);
}

.splitView.vertical.gap
  > .splitViewContainer
  > .splitViewView:not(:last-child) {
  padding-bottom: var(--gap-size);
}

.splitView.horizontal > .splitViewContainer > .splitViewView {
  height: 100%;
}

.splitView.horizontal.gap
  > .splitViewContainer
  > .splitViewView:not(:first-child) {
  padding-left: var(--gap-size);
}

.splitView.horizontal.gap
  > .splitViewContainer
  > .splitViewView:not(:last-child) {
  padding-right: var(--gap-size);
}

.splitView.separatorBorder
  > .splitViewContainer
  > .splitViewView:not(:first-child)::before {
  background-color: var(--separator-border);
  content: " ";
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 5;
}

.splitView.separatorBorder.vertical
  > .splitViewContainer
  > .splitViewView:not(:first-child)::before {
  height: 1px;
  width: 100%;
}

.splitView.separatorBorder.horizontal
  > .splitViewContainer
  > .splitViewView:not(:first-child)::before {
  height: 100%;
  width: 1px;
}
