.container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: #cccccc;
  font-family: sans-serif;
  height: 480px;
  width: 1024px;
  overflow: scroll;
  resize: both;
}
