.container {
  background: rgb(30, 30, 30);
  font-family: sans-serif;
  height: 80vh;
  overflow: scroll;
  resize: both;
  width: 80vw;
}

.content {
  align-items: center;
  background: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.customPane {
  background-color: red;
  overflow: scroll;
}

.customPaneContent {
  width: 200px;
  background: rgb(222, 222, 222);
  color: rgb(30, 30, 30);
  overflow: visible;
}
