.container {
  background: rgb(30, 30, 30);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-family: sans-serif;
  height: 80vh;
  overflow: scroll;
  resize: both;
  width: 80vw;
}

.content {
  align-items: center;
  background: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}
